@import url(/assets/font/hack-subset.css);
body {
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: Hack, monospace !important;
}

/* Stop spans from overlapping */
#title {
  display: block;
}

#blinky {
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Leaderboard Colours */
#leaderboard span:nth-child(4n + 1) {
  color: #ffff83;
}
#leaderboard span:nth-child(4n + 2) {
  color: #a1ceed;
}
#leaderboard span:nth-child(4n + 3) {
  color: #6f9cbd;
}
