@import url(/assets/font/hack-subset.css);
* {
    font-family: Hack, monospace !important;
    cursor: pointer;
    user-select: none;
}

/* #contents {
	display: flex;
	flex-direction: column;
} */

#contents > div > span:nth-child(1) {
	font-weight: bold;
}

#contents > div > span:nth-child(1):after {
	content: " - ";
}

/* .item { width: 25%; }
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%;  */