@import url(/assets/font/hack-subset.css);
* {
    font-family: Hack, monospace !important;
    cursor: pointer;
    user-select: none;
}


#contents > div {
  display: flex;
  width: 100%;
  margin-bottom: 2px;
}

#contents > div > .name {
  background-color: rgba(200,0,0,0.5);
  width: 100%;
  max-width: 10em;
  text-align: right;
  padding-right: 1em;
}

#contents > div > .score {
  background-color: rgba(0, 200, 0,0.5);
  height: 100%;
  text-align: right;
  transition: width 1.5s;
}


@media screen and (max-width: 600px) {
  #contents > div {
    flex-direction: column;
  }

  #contents > div > .name {
    text-align: left;
  }  
}