{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="/assets/css/game.css" />
<script
  src="assets/js/isotope.pkgd.min.js"
  defer
></script>
<link rel="stylesheet" href="/assets/css/fun.css" />
{% endblock %}
{% block content %}
<div id="questionModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-light">
        <span name="title"></span>
        <span class="has-text-grey-light" name="category"></span>
      </p>
      <button class="delete cancel" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p name="description"></p>
      <form>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input
              class="input blueBox has-text-centered has-text-light"
              name="answer"
              type="text"
              placeholder="good work!!! :D"
              spellcheck="false"
            />
          </p>
          <p class="control">
            <a class="button">SUBMIT</a>
          </p>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot has-text-light">
      <span name="solves"></span>
      <div name="value"></div>
    </footer>
  </div>
</div>
<div class="container">
  <div name="scope">
    <div name="filter">
      <input type="checkbox" id="filterComplete" value="false" />
      <label for="filterComplete">Show only incomplete challenges</label>
    </div>
    <div name="sort">
      Sort:
      <select id="sort" name="sort" class="sorat-order" autocomplete="off">
        <option value="">(Original Order)</option>
        <option value="points_asc">Points (Ascending)</option>
        <option value="points_desc">Points (Descending)</option>
        <option value="category_asc">Category (Ascending)</option>
        <option value="category_desc">Category (Descending)</option>
      </select>
    </div>
  </div>
  <div class="tile is-ancestor is-unselectable">
    <div class="tile is-parent"></div>
  </div>
  <div style="margin-bottom: 50px;"></div>
</div>
<script src="/assets/js/orchestrator.js" defer></script>
<script src="/assets/js/fun.js" defer></script>
<script src="/assets/js/game.js"></script>
{% endblock %}
