<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CompClub 2019 Summer CTF</title>
    <!------

    F
        A
            V
                I
            C
         O
    N

    --------->
    <link rel='stylesheet' href='/assets/css/normalize.min.css'/>
    <link rel='stylesheet' href='/assets/css/bulma.min.css'/>
    <link rel='stylesheet' href='/assets/font/hack-subset.css'>
    <link rel='stylesheet' href='/assets/css/site.css'/>
    <link rel='stylesheet' href='/assets/css/scanlines.css'/>
    <script src="/assets/js/ctf.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="has-navbar-fixed-bottom">
<div class="background scanlines">
    <img class="svg" src="/assets/img/worldmap.background.svg"/>
    <script>
        (() => {
            let backgroundImg = document.querySelector('img.svg');
            fetch(backgroundImg.src)
                .then(content => content.text())
                .then(data => {
                    backgroundImg.classList.remove('svg');
                    var backgroundSvg = new DOMParser().parseFromString(data, "image/svg+xml").querySelector('svg');
                    backgroundSvg.classList = backgroundImg.classList;
                    backgroundImg.parentElement.replaceChild(backgroundSvg, backgroundImg);
                })
        })();
    </script>
</div>

<div class="slideout has-text-centered">
    <div>
        <span class="title" name="rank"></span><span class="subtitle" name="places"></span>
    </div>
    <h1 class="title" name="score"></h1>

    <h1 class="title has-text-light">Leaderboard</h1>
    <span name="leaderboard"></span>
</div>
{% block content %}{% endblock %}

<nav class="navbar is-fixed-bottom is-dark">
    <div class="navbar-brand">
        <a class="navbar-item" href="//summer.compclub.com.au">
            <img src="/assets/img/compclub.logo.white.svg" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-item is-expanded">
            <div class="orchestrator has-text-centered"></div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item" name="mouseCoordinates">
                <div name="mouseX"></div>
                <div name="mouseY"></div>
            </div>
        </div>
    </div>
</nav>
<script src="/assets/js/fun.js" defer></script>
<script src="/assets/js/orchestrator.js" defer></script>
<script type="text/javascript" src="/assets/js/leaderboard.js" defer></script>
</body>

<!-- Site by Andrew Wong (z5206677) -->
<!-- github.com/featherbear/UNSW-CompClub2019Summer-CTF -->
</html>