<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CompClub 2019 Summer CTF</title>
    <!------

    F
    A
    V
    I
    C
    O
    N

    --------->
    <link rel='stylesheet' href='/assets/css/normalize.min.css'/>
    <link rel='stylesheet' href='/assets/font/hack-subset.css'>
    <link rel='stylesheet' href='/assets/css/bulma.min.css'/>
    <link rel='stylesheet' href='/assets/css/site.css'/>

    {% block head %}{% endblock %}
</head>
<body class="has-navbar-fixed-bottom">
<div class="background scanlines">
    <img class="svg" src="/assets/img/worldmap.background.svg"></img>
</div>

<link rel='stylesheet' href='/assets/css/codepen.css'/>

<script>


    Array.from(document.querySelectorAll('img.svg')).forEach(img => {
        fetch(img.src).then(content => content.text()).then(data => {
            img.classList.remove('svg');
            var svg = new DOMParser().parseFromString(data, "image/svg+xml").querySelector('svg');
            svg.classList = img.classList;

            img.parentElement.replaceChild(svg, img)
            //svgElem)
        })
    })
</script>
<div class="slideout has-background-dark has-text-centered">
    <p>Rank</p>
</div>
{% block content %}{% endblock %}
<!--<section class="hero is-primary">-->
<!--<div class="hero-body">-->
<!--<div class="container">-->
<!--<h1 class="title">-->
<!--Primary title-->
<!--</h1>-->
<!--<h2 class="subtitle">-->
<!--Primary subtitle-->
<!--</h2>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<nav class="navbar is-fixed-bottom is-dark">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="/assets/img/compclub.logo.white.svg" alt="Bulma: a modern CSS framework based on Flexbox"
                 width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <!--
        You can add the following modifier classes:

is-expanded to turn it into a full-width element
is-tab to add a bottom border on hover and show the bottom border using is-active

        -->

        <div class="navbar-start">
            <!-- navbar items -->
        </div>

        <div class="navbar-end">
            <!-- navbar items -->
            <div class="navbar-item" name="mouseCoordinates">
                <div name="mouseX"></div>
                <div name="mouseY"></div>
            </div>
        </div>
    </div>
</nav>

<script>
    (() => {
        let x = document.querySelector('.navbar [name=mouseCoordinates] [name=mouseX]');
        let y = document.querySelector('.navbar [name=mouseCoordinates] [name=mouseY]');

        document.body.addEventListener('mousemove', evt => {
            // var elem = document.querySelector( ".regions g:hover .mouseArea");
            // if (elem) console.log(elem.getAttribute('data-text'))
            x.innerText = evt.clientX;
            y.innerText = evt.clientY;
        })
    })()
</script>
</body>
<!-- Site by Andrew Wong -->
<!-- github.com/featherbear/UNSW-CompClub2019Summer-CTF -->
</html>