{% extends "template.html" %}
{% block head %]
{% endblock %}
{% block content %}
<div id="questionModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
        </header>
        <section class="modal-card-body">
        </section>
        <footer class="modal-card-foot">
            <!-- Statistics go here -->
            <button class="button is-success confirm">Changes</button>
            <button class="button cancel">Cancel</button>
        </footer>
    </div>
</div>

<div class="container">
    <table class="table is-fullwidth">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Flag</th>
            <th>Points</th>
            <th>Solves</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Flag</th>
            <th>Points</th>
            <th>Solves</th>
            <th></th>
        </tr>
        </tfoot>

        <tbody>


        </tbody>
    </table>
</div>


<script>


    function dataToRow(data) {
        var row = document.createElement('tr');
        row.name = "question-" + data.id;

        var title = document.createElement('td');
        title.innerText = data.title;
        row.appendChild(title);

        var description = document.createElement('td');
        description.innerText = data.description.replace(/<(?:.|\n)*?>/gm, '');
        row.appendChild(description);

        var category = document.createElement('td');
        category.innerText = categories[data.category] || "";
        row.appendChild(category);

        var flag = document.createElement('td');
        var flagReveal = document.createElement('button');
        flagReveal.classList.add('button', 'is-outlined', "is-info")
        flagReveal.innerText = "click to reveal"
        flag.appendChild(flagReveal);
        row.appendChild(flag);

        var points = document.createElement('td');
        points.innerText = data.value;
        row.appendChild(points);

        var solves = document.createElement('td');
        solves.innerText = solves[data.id] || 0;
        row.appendChild(solves);

        var edit = document.createElement('td');
        var editBtn = document.createElement('button');
        editBtn.innerText = "edit"
        editBtn.classList.add('button', 'is-outlined', "is-info")
        edit.appendChild(editBtn)
        row.appendChild(edit)

        const flagRevealClickEvent = function () {

            flagReveal.removeEventListener('click', flagRevealClickEvent)
            this.classList.add('is-loading')
            fetch('/api/v1/ctf/question/getFlag', {
                method: 'post',
                body: JSON.stringify({question: data.id})
            })
                .then(response => response.json()).then(jsonData => {
                if (jsonData.status) {
                    this.classList.remove('is-loading')
                    this.outerText = jsonData.data
                }
            })
        }

        flagReveal.addEventListener('click', flagRevealClickEvent);
        // tile.addEventListener('click', function () {
        //     openModalEdit(data.id, this)
        // })

        return row
    }

    function getQuestions() {
        return fetch('/api/v1/ctf/questions.json', {
            method: 'post',
        })
            .then(response => response.json())

    }


    function getCategories() {
        return fetch('/api/v1/ctf/categories.json', {
            method: 'post',
        })
            .then(response => response.json())
    }


    function getSolves() {
        return fetch('/api/v1/ctf/solves.json', {
            method: 'post',
        })
            .then(response => response.json())
    }

    function getData() {
        return Promise.all([getQuestions(), getCategories(), getSolves()])
    }


    var questions = {};
    var questionsByCategory = {};
    var categories = {};
    var solves = [];

    getData().then(([questionsData, categoriesData, solvesData]) => {

        if (categoriesData.status) {
            for (var data of categoriesData.data || []) {
                categories[data[0]] = data[1]
            }
        }

        if (solvesData.status && solvesData.data) {
            solves = solvesData.data
        }

        if (questionsData.status) {
            for (var data of questionsData.data || []) {
                questions[data[0]] = {
                    id: data[0],
                    title: data[1],
                    description: data[2],
                    value: data[3],
                    category: data[4]
                };
                if (!questionsByCategory.hasOwnProperty(data[4])) {
                    questionsByCategory[data[4]] = [];
                    questionsByCategory[data[4]].push(data[0])
                }
                document.querySelector('table tbody').appendChild(dataToRow(questions[data[0]]))
            }
        }

    })
</script>


<style>
    table.table {
        background-color: transparent;
        color: #f5f5f5 !important;
    }

    table th {
        color: #f5f5f5 !important;
    }
</style>
{% endblock %}