{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="/assets/css/bulma-slider.min.css" />
<link rel="stylesheet" href="/assets/css/admin.css" />
{% endblock %}
{% block content %}

<div class="modal deleteModal"id = "deleteModalCategory">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-light">Category Delete</p>
    </header>
    <section class="modal-card-body">
      <p class="has-text-light" id="delete-category-text"></P>
      <p class="has-text-light">Are you sure you want to delete this category?</p>
      <p class="has-text-light">This cannot be undone.</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success confirm">Delete</button>
      <button class="button cancel">Cancel</button>
    </footer>
  </div>
</div>


<div class="modal deleteModal" id ="deleteModalQuestion">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-light">Question Delete</p>
    </header>
    <section class="modal-card-body">
      <p class="has-text-light" id="delete-question-text"></P>
      <p class="has-text-light">Are you sure you want to delete this question?</p>
      <p class="has-text-light">This cannot be undone.</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success confirm">Delete</button>
      <button class="button cancel">Cancel</button>
    </footer>
  </div>
</div>

<div class="modal deleteModal"id = "deleteModalUser">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-light">User Delete</p>
    </header>
    <section class="modal-card-body">
      <p class="has-text-light" id="delete-user-text"></P>
      <p class="has-text-light">Are you sure you want to delete this user?</p>
      <p class="has-text-light">This cannot be undone.</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success confirm">Delete</button>
      <button class="button cancel">Cancel</button>
    </footer>
  </div>
</div>


<div id="editModalCategory" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-light"></p>
    </header>
    <section class="modal-card-body">
      <form onSubmit="return false;">
        <div class="field">
          <label class="label has-text-light">Category</label>
          <div class="control">
            <input
              class="input blueBox has-text-light"
              name="category"
              type="text"
              spellcheck="true"
              required
            />
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success confirm"></button>
      <button class="button cancel">Cancel</button>
    </footer>
  </div>
</div>


<div id="editModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title has-text-light"></p>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field">
          <label class="label has-text-light">Title</label>
          <div class="control">
            <input
              class="input blueBox has-text-light"
              name="title"
              type="text"
              spellcheck="true"
              placeholder="Question title"
              required
            />
          </div>
        </div>
        <div class="field">
          <label class="label has-text-light">Answer</label>
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input
                class="input blueBox has-text-light"
                name="answer"
                type="text"
                placeholder="Answer"
                spellcheck="false"
              />
            </p>
            <p class="control">
              <a class="button" name="updateAnswer">UPDATE ANSWER</a>
            </p>
          </div>
        </div>
        <div class="field">
          <label class="label has-text-light">Category</label>
          <div class="control">
            <div class="select">
              <select
                name="category"
                class="blueBox has-text-light"
                required
              ></select>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="field valueField">
            <label class="label has-text-light">Value</label>
            <div class="control">
              <div class="field is-grouped">
                <input
                  name="value"
                  class="input blueBox has-text-light"
                  type="number"
                  min="0"
                  value="100"
                />
                <input
                  class="slider is-fullwidth is-small is-circle"
                  step="1"
                  min="0"
                  max="200"
                  value="100"
                  type="range"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label has-text-light">Description</label>
          <div class="control">
            <textarea
              class="textarea blueBox has-text-light"
              name="description"
              placeholder="Question description"
            ></textarea>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success confirm"></button>
      <button class="button cancel">Cancel</button>
    </footer>
  </div>
</div>


<div class="container is-centered" style="margin-right: 25vw; width: 70vw;">
  <div style="margin-top: 25px;"></div>
  <h2 class="title has-text-white has-text-centered">Categories</h2>
  <table class="table is-fullwidth" name="categories">
    <thead>
      <tr>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr onclick="openModalEditCategory()">
        <td colspan="3">Add new category</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </tfoot>
  </table>
  <h2 class="title has-text-white has-text-centered">Questions</h2>
  <table class="table is-fullwidth" name="questions">
    <thead>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Answer</th>
        <th>Points</th>
        <th>Solves</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Answer</th>
        <th>Points</th>
        <th>Solves</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </tfoot>
    <tbody>
      <tr onclick="openModalEdit()">
        <td colspan="7">Add new question</td>
      </tr>
    </tbody>
  </table>
  <h2 class="title has-text-white has-text-centered">Users</h2>
    <div class="subtitle is-6 has-text-white">
      Sort:
      <select id="sort" autocomplete="off">
        <option value="username_desc">Username (Descending)</option>
        <option value="username_asc">Username (Ascending)</option>
        <option value="points_desc">Points (Descending)</option>
        <option value="points_asc">Points (Ascending)</option>
        <option value="category_desc">Solves (Descending)</option>
        <option value="category_asc">Solves (Ascending)</option>
      </select>
    </div>
  <table class="table is-fullwidth" name="users">
    <thead>
      <tr>
        <th>Names</th>
        <th>Points</th>
        <th>Solves</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Names</th>
        <th>Points</th>
        <th>Solves</th>
        <th>Delete</th>
      </tr>
    </tfoot>
  </table>
  <div style="margin-bottom: 50px;"></div>
</div>
<script src="/assets/js/admin.js"></script>
{% endblock %}
