@font-face {
  font-family: 'fa-password';
  src: url('fonts/fa-password.eot?72410638');
  src: url('fonts/fa-password.eot?72410638#iefix') format('embedded-opentype'),
       url('fonts/fa-password.woff2?72410638') format('woff2'),
       url('fonts/fa-password.woff?72410638') format('woff'),
       url('fonts/fa-password.ttf?72410638') format('truetype'),
       url('fonts/fa-password.svg?72410638#fa-password') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 input[type="password"] {
 font-family:fa-password;
font-size:16px}